<div class="adminpanel__nav">
            <div class="adminpanel__nav-top">
                <h1 class="adminpanel__nav-top-title">Admin Panel</h1>
            </div>
            <div class="adminpanel__userinfo">
                <a href="/admin" class="adminpanel__userlink">
                    <img src="/img/bg-img/u1.jpg" alt="userimg" class="adminpanel__userinfo-img">
                    <p class="adminpanel__user-username adminpanel__nav-link">Marcus</p>
                </a>
                <label for="adminpanel__usersettingscheckbox" class="adminpanel__userinfo-label fas fa-angle-down"></label>
                <input type="checkbox" id="adminpanel__usersettingscheckbox" class="hidden">
                <nav class="adminpanel__usernav">
                    <ul>
                        <li><a href="" class="adminpanel__nav-link">Hi</a></li>
                    </ul>
                </nav>
            </div>
            <nav>
                <ul class="adminpanel__nav-linklist">
                    <li class="adminpanel__nav-linkitem">
                        <a href="/admin" class="adminpanel__nav-link"><i
                                class="fas fa-tachometer-alt fa-icon"></i>Dashboard</a>
                    </li>
                    <li class="adminpanel__nav-linkitem">
                        <a href="/admin" class="adminpanel__nav-link"><i
                                class="fas fa-laptop fa-icon"></i>Components</a>
                    </li>
                    <li class="adminpanel__nav-linkitem">
                        <a href="/admin" class="adminpanel__nav-link"><i
                                class="fas fa-clipboard fa-icon"></i>Articles</a>
                    </li>
                    <li class="adminpanel__nav-linkitem">
                        <a href="/admin/categories" class="adminpanel__nav-link"><i
                                class="fas fa-clipboard fa-icon"></i>Categories</a>
                    </li>
                    <li class="adminpanel__nav-linkitem">
                        <a href="/admin/contactmessages" class="adminpanel__nav-link"><i class="fas fa-envelope-open-text fa-icon"></i>Contact messages</a>
                    </li>
                    <li class="adminpanel__nav-linkitem">
                        <a href="/admin" class="adminpanel__nav-link"><i class="fas fa-cog fa-icon"></i>Settings</a>
                    </li>
                </ul>
            </nav>

        </div>