<div class="popular-news-widget mb-30">
    <h3>4 Most Popular News</h3>

    <!-- Single Popular Blog -->
    <% mostPopularNews.forEach((news,index) => { %>
        <% let now = new Date(news.postTime); %>
    <div class="single-popular-post">
        <a href="#">
            <h6><span><%= index + 1 %></span><%= news.title %></h6>
        </a>
        <p><%= dateAndTime.format(now, 'MMMM DD, YYYY') %></p>
    </div>
    <% }); %>
</div>