<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("partials/styles.ejs")%>
    <link rel="stylesheet" href="/css/adminpanel.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Admin panel V 1.0</title>
</head>

<body>
    <div class="adminpanel">
        <%- include("partials/adminpanel-nav.ejs")%>
        <main class="adminpanel__main">
            <div class="adminpanel_infocontainer">
                <div class="adminpanel_infopanel">
                    <div class="adminpanel_infopanelinfo">
                        <h3>Users</h3>
                        <i class="fas fa-user"></i>
                    </div>
                    <h4 class="adminpanel_infopanel-count"><%= userCount.count %></h4>
                </div>
                <div class="adminpanel_infopanel">
                    <div class="adminpanel_infopanelinfo">
                        <h3>Expences</h3>
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <h4 class="adminpanel_infopanel-count">$828</h4>
                </div>
                <div class="adminpanel_infopanel">
                    <div class="adminpanel_infopanelinfo">
                        <h3>Revenue</h3>
                        <i class="fas fa-piggy-bank"></i>
                    </div>
                    <h4 class="adminpanel_infopanel-count">$5285</h4>
                </div>
                <div class="adminpanel_infopanel">
                    <div class="adminpanel_infopanelinfo">
                        <h3>Visitors</h3>
                        <i class="fas fa-eye"></i>
                    </div>
                    <h4 class="adminpanel_infopanel-count">81352</h4>
                </div>
                <div class="adminpanel_infopanel">
                    <div class="adminpanel_infopanelinfo">
                        <h3>Revenue</h3>
                        <i class="fas fa-piggy-bank"></i>
                    </div>
                    <h4 class="adminpanel_infopanel-count">$5285</h4>
                </div>
            </div>
        </main>
    </div>

</body>

</html>