<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("partials/styles.ejs")%>
    <link rel="stylesheet" href="/css/adminpanel.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases   /v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Admin panel V 1.0</title>
</head>

<body>
    <div class="adminpanel">
        <div class="adminpanel__nav">
            <div class="adminpanel__nav-top">
                <h1 class="adminpanel__nav-top-title">Admin Panel</h1>
            </div>
            <nav>
                <ul class="adminpanel__nav-linklist">
                    <li class="adminpanel__nav-linkitem">
                        <a href="/admin/"><i class="fa fa-dashboard"></i>Dashboard</a>
                    </li>
                    <li class="adminpanel__nav-linkitem">
                        <a href="/admin/"><i class="fa fa-laptop"></i>Components</a>
                    </li>
                </ul>
            </nav>
        </div>
        <main>

        </main>
    </div>

</body>

</html>